<li
  id="todo_<%= todo.id %>"
  class="relative text-2xl leading-5 group"
  x-show="filter !== <%= todo.completed ? '"active"' : '"completed"' %>"
  x-data="{ editing: false, completed: <%= todo.completed %> }"
  @dblclick="editing = true; $focus.focus($refs.input)"
  hx-target="#todo_<%= todo.id %>"
>
  <div x-show="!editing" class="flex items-center">
    <button
      class="w-8 h-8 ml-2 my-auto border rounded-full text-green-600 font-light text-center leading-tight <%= todo.completed ? 'border-green-600' : 'border-gray-400' %>"
      name="completed"
      aria-label="Toggle the completion state of this todo"
      value="<%= !todo.completed %>"
      hx-post="/todos/<%= todo.id %>"
      hx-swap="outerHTML"
      @click="incomplete += completed ? 1 : -1"
    >
      <% if (todo.completed) { %>
        ✓
      <% } %>
    </button>
    <span
      class="p-4 pl-6 font-light break-words <%= todo.completed ? 'line-through text-gray-400' : 'text-slate-800' %>"
    >
      <%- todo.name %>
    </span>
    <button
      class="hidden group-hover:block absolute top-0 right-2.5 bottom-0 w-10 h-10 my-auto text-3xl text-gray-400 font-thin"
      hx-delete="/todos/<%= todo.id %>"
      hx-swap="delete"
      @click="total -= 1; incomplete -= completed ? 0 : 1"
    >×</button>
  </div>
  <input
    x-cloak
    x-show="editing"
    x-ref="input"
    class="relative font-light left-11 w-[calc(100%-2.75rem)] py-3 px-4 text-2xl border border-gray-400 shadow-inner"
    @blur="editing = false"
    @keyup.escape.window="editing = false"
    value="<%- todo.name %>"
    name="name"
    autocomplete="off"
    hx-post="/todos/<%= todo.id %>"
    hx-trigger="keyup[key=='Enter']"
    hx-swap="outerHTML"
  />
</li>