<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TodoMVC</title>
    <link rel="stylesheet" href="style.css" />
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/@alpinejs/focus@3.x.x/dist/cdn.min.js"
    ></script>
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
    ></script>
  </head>
  <body
    class="bg-neutral-100 text-gray-900 min-w-60 max-w-[550px] leading-6 mx-auto"
    x-data="{ total: <%= todos.length %>, incomplete: <%= totalIncomplete %>, filter: 'all' }"
    x-effect="console.log('total', total, 'incomplete', incomplete)"
  >
    <section class="relative shadow-xl bg-white mt-32">
      <header>
        <h1
          class="absolute -top-24 w-full text-7xl font-thin text-center text-red-700"
        >
          todos
        </h1>
        <input
          class="relative text-inherit h-16 p-4 pl-16 border-none w-full text-2xl leading-6 font-light italic bg-[rgba(0, 0, 0, 0.003)] shadow-inner focus:outline-0 focus:ring-2 focus:ring-red-700"
          type="text"
          name="name"
          autocomplete="off"
          autofocus
          aria-label="What needs to be done?"
          placeholder="What needs to be done?"
          hx-post="/todos"
          hx-trigger="keyup[key=='Enter']"
          @htmx:after-request="$el.value = ''; total += 1; incomplete += 1"
          hx-target="#todos"
          hx-swap="beforeend"
        />
      </header>
      <section
        id="todosList"
        class="relative z-[2] border-t border-t-gray-200"
        hx-swap-oob="true"
        x-show="total > 0"
      >
        <ul id="todos" class="divide-y">
          <% todos.forEach(todo => { %>
          <%- include('todos/todo', {todo }) %>
          <% }) %>
        </ul>
        <%- include('partials/controls') %>
      </section>
    </section>

    <%- include('partials/footer') %>

    <script
      src="https://unpkg.com/htmx.org@1.9.12"
      integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
